$primaryColor:#D05D84;
$secondaryColor: #383A49;

$fontWeightMedium:500;
$fontWeightHeavy:600;

$fontColorLight:#7F6C6C;
$fontColorDark: #474958;

$fontSizeBase: 13px;

$inputBorder:#979797;

$borderRadius: 3px;